---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import AsideB from '../components/AsideB.astro';
import AboutMe from '../components/AboutMe.astro';
import "../styles/global.css";
---

<Layout>
   <Navbar />
   <AsideB />

   <div class="p-4 sm:ml-64">
      <div class="p-4 border-2 border-gray-200 border-dashed dark:border-gray-700 mt-14">
                  
            <AboutMe />

      </div>
   </div>

</Layout>

