---
---

<aside
  id="logo-sidebar"
  class="fixed top-0 left-0 z-40 w-64 h-screen bg-white border-r border-gray-200 dark:bg-gray-800 dark:border-gray-700 flex flex-col pt-20"
  aria-label="Sidebar"
>
  <!-- Скроллимая часть -->
  <div class="flex-1 overflow-y-auto px-3 pb-4">
    <img
      class="h-auto max-w-full grayscale hover:grayscale-0"
      src="https://egorzhartun.github.io/photos/yz.jpg"
      alt="image description"
    />
    <p class="pt-2 text-lg font-semibold tracking-tight text-gray-900 dark:text-white">
      &gt; letaev
    </p>
    
    <div class="pt-3 pb-3">
      <p class="text-sm text-slate-500">&gt; 26 yo.</p>
      <p class="text-sm text-slate-500">&gt; full-stack dev.</p>
    </div>

    <p class="text-sm">
      &gt; full-stack developer capable of creating and maintaining complex
      web applications, with deep knowledge in both frontend and backend
      technologies
    </p>
  </div>

  <!-- Прижатый к низу футер -->
  <div
    class="mt-auto px-3 py-4 text-xs text-center text-gray-500 dark:text-gray-400 border-t border-gray-200 dark:border-gray-700"
  >
    © {new Date().getFullYear()} / letaev
  </div>
</aside>

